@{
    ViewData["Title"] = "Home::::";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://mybundo.com">Buy Now & Pay Later!</a>.</p>
</div>
